<template>
    <div class="city__select_inputs">

        <select v-model="selectedCity" class="city__select_input">
            <option :value="cityName" v-for="(cityName, i) in cities" :key="i">
                {{ cityName }}
            </option>
        </select>
        <select v-model="selectedRegion" class="city__select_input">
            <option :value="regionName" v-for="(regionName, i) in availableRegions" :key="i">
                {{ regionName }}
            </option>
        </select>


    </div>
</template>

<script>
import citiesData from "@/data/cities.json"
export default {
    emits: ["update:city", "update:region"],
    props: {
        selectedRegions: { type: Object, required: true },
        city: { type: String, },
        region: { type: String }
    },
    computed: {
        cities() {
            return citiesData.map(({ name }) => name)
        },
        availableRegions() {
            const usedCityRegions = this.selectedRegions[this.city]?.regions ?? []
            const cityRegions = citiesData.find(({ name }) => name == this.city)?.regions ?? []

            return cityRegions.filter(region => !usedCityRegions.includes(region) || region == this.region)
        },
        selectedCity: {
            get() {
                return this.city
            },
            set(city) {
                this.$emit("update:city", city)
            }
        },
        selectedRegion: {
            get() {
                return this.region
            },
            set(region) {
                this.$emit("update:region", region)
            }
        },

    },
}
</script>

<style>
.city__select_inputs {
    display: flex;
    gap: 1rem;
}

.city__select_input {
    width: 8rem;
}
</style>