<template>
  <div>
    <div v-for="(city, i) in citiesForm" :key="i" class="city__select_item">
      <region-select v-model:city="city.name" v-model:region="city.region" :selectedRegions="selectedRegions" />

      <div class="city__select-buttons">
        <button v-if="i != citiesForm.length - 1 && citiesForm.length > 1" @click="removeCityFrom(i)">X</button>
        <button v-else @click="addCityForm">+</button>
      </div>
    </div>

  </div>
</template>

<script>
import RegionSelect from './components/RegionSelect.vue';

export default {
  components: { RegionSelect },
  data: () => ({
    citiesForm: [
      {
        name: "",
        region: ""
      },

    ]
  }),
  computed: {

    selectedRegions() {
      const cities = {}
      this.citiesForm.forEach((city) => {
        if (Object.hasOwn(cities, city.name)) {
          cities[city.name].regions.push(city.region)
        } else {
          cities[city.name] = {}
          cities[city.name].regions = [city.region]
        }
      })
      return cities
    },
  },
  methods: {
    addCityForm() {
      this.citiesForm.push({
        name: "",
        region: ""
      })
    },
    removeCityFrom(i) {
      this.citiesForm.splice(i, 1)
    },
  }
}
</script>

<style>
.city__select_item {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
</style>

